<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- BLUETOOTH PERMISSION -->
    <!-- Needed only if your app communicates with already-paired Bluetooth
         devices. -->
    <!-- bibo01: hardware option -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RHDMS"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".PillUpdateActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".graphActivity.TestActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".PillListActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".graphActivity.GraphActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".graphActivity.NewPillInfoActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".graphActivity.PressureInfoActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".graphActivity.SugarInfoActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".BleActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- 테스트 용 -->
        <activity android:name=".TestNewPillInfoActivity">

        </activity>

    </application>

</manifest>